

.AboutUs {
    width: 100vw;
    min-height: 100vh;
    color: white;
    padding: 50px;
    /* opacity: 0; */
    transform: translateY(20px);
    transition: var(--transition);
}
 
.AboutUs.visible {
    opacity: 1;
    transform: translateY(0);
} 
.AboutUs h1 {
    font-size: 70px;
    margin-bottom: 50px;
    
    /* margin-left: 150px; */
    text-align: center;
}

.AboutUs h1 span {
    color: #8462E8;
}

.about-content {
    display: flex;
    gap: 50px;
}

.robot-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.robot-image img {
    max-width: 430px;
    /* margin-bottom: 20px; */
    /* transform: translateY(-60px); */
    /* transform: translateX(-140px); */
    
}

.about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 70px;
}

.info-card {
    background-color: rgba(20, 20, 35, 0.9);
    padding: 20px;
    border-radius: 15px;
    transition: var(--transition);
    border: 1px solid transparent;
}

.info-card:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(132, 98, 232, 0.2);
}

.info-card h2 {
    color: #8462E8;
    margin-bottom: 10px;
}

.info-card p {
    color: #ccc;
    line-height: 1.5;
}

.info-card.wide {
    margin-top: 20px;
} 