.MembersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 92vh;
    margin-top: 20px;
}

.home-container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

main {
    width: 100%;
    position: relative;
}